/* CSS for Index Page */

body {
    margin: 0px auto;
    padding: 30px;
    text-align: center;
    background: rgb(74,184,255);
    background: radial-gradient(circle, rgba(74,184,255,1) 0%, rgba(131,70,252,1) 100%);
}

table {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

a, h1 {
    color: rgb(48, 45, 45);
    text-decoration: none;
}